<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Name-&amp;-ID" data-toc-modified-id="Name-&amp;-ID-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Name &amp; ID</a></span></li><li><span><a href="#Problem-#-A" data-toc-modified-id="Problem-#-A-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Problem # A</a></span><ul class="toc-item"><li><span><a href="#A-1" data-toc-modified-id="A-1-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>A-1</a></span></li><li><span><a href="#A-2" data-toc-modified-id="A-2-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>A-2</a></span></li><li><span><a href="#A-3" data-toc-modified-id="A-3-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>A-3</a></span></li><li><span><a href="#A-4" data-toc-modified-id="A-4-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>A-4</a></span></li><li><span><a href="#A-5" data-toc-modified-id="A-5-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>A-5</a></span></li><li><span><a href="#A-6" data-toc-modified-id="A-6-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>A-6</a></span></li><li><span><a href="#A-7" data-toc-modified-id="A-7-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>A-7</a></span></li><li><span><a href="#A-8" data-toc-modified-id="A-8-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>A-8</a></span></li><li><span><a href="#A-9" data-toc-modified-id="A-9-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>A-9</a></span></li></ul></li><li><span><a href="#Problem-#-B" data-toc-modified-id="Problem-#-B-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Problem # B</a></span><ul class="toc-item"><li><span><a href="#B-1" data-toc-modified-id="B-1-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>B-1</a></span></li><li><span><a href="#B-2" data-toc-modified-id="B-2-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>B-2</a></span><ul class="toc-item"><li><span><a href="#Answers-to-B.2-(3-Marks)" data-toc-modified-id="Answers-to-B.2-(3-Marks)-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Answers to B.2 (3 Marks)</a></span></li></ul></li><li><span><a href="#B-3" data-toc-modified-id="B-3-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>B-3</a></span></li><li><span><a href="#B-4" data-toc-modified-id="B-4-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>B-4</a></span></li><li><span><a href="#B-5" data-toc-modified-id="B-5-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>B-5</a></span></li><li><span><a href="#B-6" data-toc-modified-id="B-6-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>B-6</a></span></li><li><span><a href="#B-7" data-toc-modified-id="B-7-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>B-7</a></span></li><li><span><a href="#B-8" data-toc-modified-id="B-8-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>B-8</a></span></li><li><span><a href="#B-9" data-toc-modified-id="B-9-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>B-9</a></span></li><li><span><a href="#B-10" data-toc-modified-id="B-10-3.10"><span class="toc-item-num">3.10&nbsp;&nbsp;</span>B-10</a></span></li><li><span><a href="#B-11" data-toc-modified-id="B-11-3.11"><span class="toc-item-num">3.11&nbsp;&nbsp;</span>B-11</a></span></li><li><span><a href="#Rough-Work" data-toc-modified-id="Rough-Work-3.12"><span class="toc-item-num">3.12&nbsp;&nbsp;</span>Rough Work</a></span></li></ul></li></ul></div>

# Name & ID

In [1]:
Name= 'First_Name  ast_Name'    #write your name

In [2]:
ID= 202012045   #write your student ID

In [3]:
# Execute this cell 
try:
    if (Name== 'First_Name  Last_Name')  | (ID== 202012345):
        raise ValueError('''
    **************************MISSING INFO*****************************
    Enter your name & student ID in the top cells (& execute the cells)
    *******************************************************************''') 
except:
    raise ValueError('''
    **************************MISSING INFO*****************************
    Enter your name & student ID in the top cells (& execute the cells)
    *******************************************************************''')
else:
    print('All set, you can proceed!')

All set, you can proceed!

# Problem # A

## A-1

In [4]:
# Answers to A-1 
import pandas as pd
import numpy as np

df = pd.read_csv('HW3_DataA.csv',delimiter=',')
display(df)
# the columns with missing values
df.dropna(axis=0, how='any', inplace=True)
display(df)

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
0,Agfa ePhoto 1280,1997,1024.0,640.0,0.0,38.0,114.0,70.0,40.0,4.0,420.0,95.0,179.0
1,Agfa ePhoto 1680,1998,1280.0,640.0,1.0,38.0,114.0,50.0,0.0,4.0,420.0,158.0,179.0
2,Agfa ePhoto CL18,2000,640.0,0.0,0.0,45.0,45.0,0.0,0.0,2.0,0.0,0.0,179.0
3,Agfa ePhoto CL30,1999,1152.0,640.0,0.0,35.0,35.0,0.0,0.0,4.0,0.0,0.0,269.0
4,Agfa ePhoto CL30 Clik!,1999,1152.0,640.0,0.0,43.0,43.0,50.0,0.0,40.0,300.0,128.0,1299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,Toshiba PDR-M65,2001,2048.0,1024.0,3.0,38.0,114.0,10.0,10.0,8.0,320.0,120.0,62.0
1034,Toshiba PDR-M70,2000,2048.0,1024.0,3.0,35.0,105.0,80.0,9.0,16.0,390.0,116.0,62.0
1035,Toshiba PDR-M71,2001,2048.0,1024.0,3.0,35.0,98.0,80.0,10.0,8.0,340.0,107.0,62.0
1036,Toshiba PDR-M81,2001,2400.0,1200.0,3.0,35.0,98.0,80.0,10.0,16.0,340.0,107.0,62.0
1037,Toshiba PDR-T10,2002,1600.0,800.0,1.0,38.0,38.0,40.0,20.0,8.0,180.0,86.0,129.0

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
0,Agfa ePhoto 1280,1997,1024.0,640.0,0.0,38.0,114.0,70.0,40.0,4.0,420.0,95.0,179.0
1,Agfa ePhoto 1680,1998,1280.0,640.0,1.0,38.0,114.0,50.0,0.0,4.0,420.0,158.0,179.0
2,Agfa ePhoto CL18,2000,640.0,0.0,0.0,45.0,45.0,0.0,0.0,2.0,0.0,0.0,179.0
3,Agfa ePhoto CL30,1999,1152.0,640.0,0.0,35.0,35.0,0.0,0.0,4.0,0.0,0.0,269.0
4,Agfa ePhoto CL30 Clik!,1999,1152.0,640.0,0.0,43.0,43.0,50.0,0.0,40.0,300.0,128.0,1299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,Toshiba PDR-M65,2001,2048.0,1024.0,3.0,38.0,114.0,10.0,10.0,8.0,320.0,120.0,62.0
1034,Toshiba PDR-M70,2000,2048.0,1024.0,3.0,35.0,105.0,80.0,9.0,16.0,390.0,116.0,62.0
1035,Toshiba PDR-M71,2001,2048.0,1024.0,3.0,35.0,98.0,80.0,10.0,8.0,340.0,107.0,62.0
1036,Toshiba PDR-M81,2001,2400.0,1200.0,3.0,35.0,98.0,80.0,10.0,16.0,340.0,107.0,62.0
1037,Toshiba PDR-T10,2002,1600.0,800.0,1.0,38.0,38.0,40.0,20.0,8.0,180.0,86.0,129.0

## A-2

In [5]:
# Answers to A-2
price_column  = df.loc[:,'Price']

df['price_cat']= price_column
#index of each row in price cat
for i in df.index:
# a comparison of the row value and the conditions
    if df.loc[i,'price_cat']<=170:
        df.loc[i, 'price_cat'] = 'low'
    elif df.loc[i,'price_cat']>=350:
        df.loc[i, 'price_cat'] = 'high'
    else:
        df.loc[i, 'price_cat'] = 'medium'
df.sample(9)

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price,price_cat
348,JVC GC-QX5HD,2001,2032.0,1024.0,3.0,37.0,86.0,50.0,2.0,16.0,320.0,111.0,14.0,low
874,Samsung NV8,2007,3264.0,2592.0,8.0,34.0,102.0,80.0,4.0,20.0,0.0,97.0,229.0,medium
89,Canon PowerShot S410,2004,2272.0,1600.0,3.0,36.0,108.0,0.0,5.0,32.0,215.0,87.0,139.0,low
162,Casio QV-2300UX,2000,1600.0,800.0,1.0,41.0,123.0,10.0,1.0,8.0,245.0,67.0,249.0,medium
379,Kodak DC220,1998,1152.0,640.0,0.0,29.0,58.0,50.0,20.0,8.0,550.0,118.0,129.0,low
307,HP Photosmart 735,2003,2080.0,0.0,3.0,38.0,114.0,0.0,0.0,16.0,290.0,105.0,179.0,medium
655,Olympus FE-290,2007,3072.0,2048.0,7.0,28.0,112.0,40.0,5.0,6.0,142.0,98.0,129.0,low
337,HP Photosmart R707,2004,2608.0,1296.0,5.0,39.0,117.0,50.0,14.0,32.0,150.0,93.0,179.0,medium
43,Canon PowerShot A75,2004,2048.0,1600.0,3.0,35.0,105.0,46.0,5.0,32.0,315.0,101.0,139.0,low

## A-3

In [6]:
# Answers to A-3
#spliting the model column into two columns
split = df["Model"].str.split(" ", n = 1, expand = True)
#assinging each split to a new column
df['Model_Name']= split[1]
#droping the unwanted columns 
df.drop(columns=['Model','Price'])
#displaying first 7 rows
df.head(7)

,Model,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price,price_cat,Model_Name
0,Agfa ePhoto 1280,1997,1024.0,640.0,0.0,38.0,114.0,70.0,40.0,4.0,420.0,95.0,179.0,medium,ePhoto 1280
1,Agfa ePhoto 1680,1998,1280.0,640.0,1.0,38.0,114.0,50.0,0.0,4.0,420.0,158.0,179.0,medium,ePhoto 1680
2,Agfa ePhoto CL18,2000,640.0,0.0,0.0,45.0,45.0,0.0,0.0,2.0,0.0,0.0,179.0,medium,ePhoto CL18
3,Agfa ePhoto CL30,1999,1152.0,640.0,0.0,35.0,35.0,0.0,0.0,4.0,0.0,0.0,269.0,medium,ePhoto CL30
4,Agfa ePhoto CL30 Clik!,1999,1152.0,640.0,0.0,43.0,43.0,50.0,0.0,40.0,300.0,128.0,1299.0,high,ePhoto CL30 Clik!
5,Agfa ePhoto CL45,2001,1600.0,640.0,1.0,51.0,51.0,50.0,20.0,8.0,270.0,119.0,179.0,medium,ePhoto CL45
6,Agfa ePhoto CL50,1999,1280.0,640.0,1.0,34.0,102.0,0.0,0.0,8.0,0.0,0.0,179.0,medium,ePhoto CL50

## A-4

In [7]:
# Answers to A-4

## A-5

In [8]:
# Answers to A-5

## A-6

In [9]:
# Answers to A-6

In [10]:
# Answers to A-6(a)

In [11]:
# Answers to A-6(b)

In [12]:
# Answers to A-6(c)

## A-7

In [13]:
# Answers to A-7

## A-8

In [14]:
# Answers to A-8

## A-9

In [15]:
# Answers to A-9

# Problem # B

## B-1

In [16]:
# Answers to B-1
df = pd.read_csv('HW3_DataB.csv', delimiter=',') # read the file
display(df.head(3)) # display the first 3 rows

print("Rows: ", len(df.axes[0])) # number of rows
print("Columns: ", len(df.axes[1])) # number of columns

display(df.describe()) # display the statistical summaries

,id,current_rating,potential_rating,height,weight,preferred_foot,skill_moves,value,wage,ball_control,strength,long_shots_level
0,255402,58,74,184,68,Right,2,475,2.2,63,47,Good
1,234111,69,82,185,75,Right,3,3.000.000,15.0,72,66,Excellent
2,192989,64,64,173,70,Right,2,475,1.3,61,66,Good

Rows:  19002
Columns:  12

,id,current_rating,potential_rating,height,weight,skill_moves,wage,ball_control,strength
count,19002.000000,19002.000000,19002.00000,19002.000000,19002.000000,19002.000000,18756.000000,19002.000000,19002.000000
mean,226469.652931,65.754868,71.14309,181.222661,75.047995,2.365435,8.564321,58.550416,64.836175
std,27192.975400,6.948835,6.10579,6.846444,7.077110,0.766668,17.571979,16.583335,12.472368
min,41.000000,47.000000,48.00000,155.000000,50.000000,1.000000,1.300000,5.000000,16.000000
25%,210137.000000,61.000000,67.00000,176.000000,70.000000,2.000000,1.500000,54.000000,57.000000
50%,232466.000000,66.000000,71.00000,181.000000,75.000000,2.000000,3.100000,63.000000,66.000000
75%,247054.750000,70.000000,75.00000,186.000000,80.000000,3.000000,8.025000,69.000000,74.000000
max,259373.000000,93.000000,95.00000,206.000000,110.000000,5.000000,500.000000,96.000000,97.000000

## B-2

### Answers to B.2 (3 Marks)

In [17]:
# Answers to B2
print("Data type for each field: \n",
      "id: Nominal\n", 
      "current_rating: Numerical\n", 
      "potential_rating: Numerical\n", 
      "height: Numerical\n", 
      "weight: Numerical\n", 
      "preferred_foot: Categorical\n", 
      "skill_moves: Numerical\n",
      "value: Numerical\n",
      "wage: Numerical\n",
      "ball_control: Numerical\n",
      "strength: Numerical\n",
      "long_shots_level: Ordinal\n")

display(df.info()) # data types in Python

print("value column has inconsistency") # reporting inconsistency

Data type for each field:
 id: Nominal
 current_rating: Numerical
 potential_rating: Numerical
 height: Numerical
 weight: Numerical
 preferred_foot: Categorical
 skill_moves: Numerical
 value: Numerical
 wage: Numerical
 ball_control: Numerical
 strength: Numerical
 long_shots_level: Ordinal

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19002 entries, 0 to 19001
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                19002 non-null  int64
 1   current_rating    19002 non-null  int64
 2   potential_rating  19002 non-null  int64
 3   height            19002 non-null  int64
 4   weight            19002 non-null  int64
 5   preferred_foot    19002 non-null  object
 6   skill_moves       19002 non-null  int64
 7   value             18756 non-null  object
 8   wage              18756 non-null  float64
 9   ball_control      19002 non-null  int64
 10  strength          19002 non-null  int64
 11  long_shots_level  19002 non-null  object
dtypes: float64(1), int64(8), object(3)
memory usage: 1.7+ MB

None

value column has inconsistency

## B-3

In [18]:
# Answers to B-3

# removing id, also removing value for inconsistency
df.drop("id", inplace=True, axis=1)
df.drop("value", inplace=True, axis=1)

null_columns=df.columns[df.isna().any()]
print('Columns with NaN values are:', null_columns)

for c in null_columns:
    if df[c].dtype!='object':
        value = df[c].mean()
    else:
        value = df[c].mode()
        value = value[0]  #0 will be the row(s) name
    df[c].fillna(value,inplace=True)

Columns with NaN values are: Index(['wage'], dtype='object')

## B-4

In [19]:
# Answers to B-4

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

# one hot encoding
df = pd.get_dummies(df, columns=['long_shots_level']) 

# 'Right' as 1, and 'Left' as 0.
encoder1 = LabelEncoder()
encoder1.fit(df['preferred_foot'])
df['preferred_foot']=encoder1.transform(df['preferred_foot'])

# MinMaxScaler, max value is 1 and min value is 0. 
col = ['current_rating', 'potential_rating', 'height', 'weight', 'skill_moves', 'wage', 'ball_control', 'strength']
scaler = MinMaxScaler()
scaler.fit(df[col])
df[col]=scaler.transform(df[col]) 

display(df)
display(df.describe())

,current_rating,potential_rating,height,weight,preferred_foot,skill_moves,wage,ball_control,strength,long_shots_level_Excellent,long_shots_level_Fair,long_shots_level_Good
0,0.239130,0.553191,0.568627,0.300000,1,0.25,0.001805,0.637363,0.382716,0,0,1
1,0.478261,0.723404,0.588235,0.416667,1,0.50,0.027471,0.736264,0.617284,1,0,0
2,0.369565,0.340426,0.352941,0.333333,1,0.25,0.000000,0.615385,0.617284,0,0,1
3,0.413043,0.382979,0.411765,0.416667,0,0.50,0.012833,0.670330,0.555556,0,0,1
4,0.608696,0.680851,0.431373,0.216667,1,0.50,0.044516,0.813187,0.506173,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
18997,0.304348,0.510638,0.411765,0.350000,1,0.25,0.000000,0.417582,0.395062,0,1,0
18998,0.456522,0.446809,0.411765,0.166667,0,0.50,0.003208,0.637363,0.469136,0,0,1
18999,0.195652,0.425532,0.490196,0.383333,1,0.25,0.000000,0.571429,0.444444,0,0,1
19000,0.434783,0.489362,0.431373,0.333333,1,0.50,0.002807,0.681319,0.518519,0,0,1
19001,0.260870,0.510638,0.568627,0.433333,0,0.25,0.000000,0.637363,0.530864,0,1,0

,current_rating,potential_rating,height,weight,preferred_foot,skill_moves,wage,ball_control,strength,long_shots_level_Excellent,long_shots_level_Fair,long_shots_level_Good
count,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000,19002.000000
mean,0.407715,0.492406,0.514170,0.417467,0.761762,0.341359,0.014567,0.588466,0.602916,0.096621,0.331018,0.572361
std,0.151062,0.129910,0.134244,0.117952,0.426017,0.191667,0.035007,0.182234,0.153980,0.295449,0.470592,0.494749
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.304348,0.404255,0.411765,0.333333,1.000000,0.250000,0.000401,0.538462,0.506173,0.000000,0.000000,0.000000
50%,0.413043,0.489362,0.509804,0.416667,1.000000,0.250000,0.003609,0.637363,0.617284,0.000000,0.000000,1.000000
75%,0.500000,0.574468,0.607843,0.500000,1.000000,0.500000,0.014438,0.703297,0.716049,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## B-5

In [20]:
# Answers to B-5

## B-6

In [21]:
# Answers to B-6

## B-7

In [22]:
# Answers to B-7

## B-8

In [23]:
# Answers to B-8

## B-9

In [24]:
# Answers to B-9

## B-10

In [25]:
# Answers to B-10

## B-11

In [26]:
# Answers to B.11

## Rough Work